# directories
/__pycache__
/.vscode

# files
/*.txt
/*.log
/*.png
/*.gif
/knapsack.py
/*.csv

# rest api
/rest/cache
/rest/*.osm
/rest/__pycache__

/python/cache
/python/*.osm
/python/__pycache__

# Rust
/tsp/target
/tsp

# C#
/csharp-console/.vs
/csharp-console/csharp-console/bin
/csharp-console/csharp-console/obj

# C# results
/client_results

# test files
/ox_test
/test_[0-9]*


# ignore python docs helper files
/python/docs/_build
/python/docs/_static
/python/docs/_templates
/python/docs/cache
/python/docs