# directories
/__pycache__
/.vscode

/python/cache
/python/*.osm
/python/__pycache__
/python/ors_key.txt

# C#
/csharp-console/.vs
/csharp-console/csharp-console/bin
/csharp-console/csharp-console/obj
/csharp-console/csharp-console/Properties
# ignore XML docs generated on running with the Release configuration
/csharp-console/csharp-console/csharp-console.xml

# C# results
/client_results

# test files
/test_[0-9]*
/test_jihocesky*
/test_prague*
/test_test*

/[0-9]*/result_visualization

# map file
/python/*map*
/python/*.json

/end_*_points_*/result_visualization

/*.txt
/*.pdf
/*.png
